<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{- block "title" . }}
          {{ .Site.Title }}
        {{- end }}</title>
        <link rel="canonical" href={{- .Permalink -}}>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png">
        {{ template "_internal/opengraph.html" . -}}
        {{ template "_internal/twitter_cards.html" . -}}
    </head>
    <body>
        {{- partial "header.html" . -}}
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
